html {
  height: 100%
}
body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}
[hidden] {
  display: none !important;
}
pre {
  white-space: pre-wrap;
}
.flexrow {
  display: flex;
  flex-flow: row;
}
.flexrow > * {
  flex: 1;
}
.bar {
  flex: none;
  height: 48px;
}
.bar input {
  font-size: 40px;
}
.small-bar {
  flex: none;
  height: 24px;
}
.region {
  flex: 1 1 100px;
  margin: 0;
  overflow-y: scroll;
}
.slack-message {
  display: flex;
  flex-flow: column;
  margin: 4px;
  padding: 4px;
}
.dingroll-message {
  display: flex;
  flex-flow: column;
  margin: 4px;
  padding: 4px;
}
.dingroll-message *,
.new-dingroll-message * {
  margin: 4px;
}
.new-dingroll-message {
  display: flex;
  flex-flow: row;
  margin: 4px;
  padding: 4px;
}
.tag-line {
  display: flex;
  flex-flow: row;
  margin: 0;
}