button, .button {
  background: linear-gradient(to bottom,#eee,#ddd);
  border: 1px solid #999;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
#save {
  background: #dd8;
}
#another {
  background: #8e8;
}
.day-item {
  cursor: pointer;
}
.day-item.partial {
  background: #ee9;
}
.day-item.ready {
  background: #9f9;
}
#messages {
  background: #444;
}
.slack-message {
  background: #888;
}
.dingroll-message {
  background: #eee;
}
.new-dingroll-message {
  background: #ddd;
}
#global-stamp {
  background: #ddd;
}
:invalid {
  color: red;
}
.current {
  color: blue;
}
