button, .button {
  border: none;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  background: buttonface;
  display: flex;
  align-items: center;
  justify-content: center;
}
#save {
  background: #dd8;
}
#another {
  background: #8e8;
}
